pandas== 2.1.0
plotly

ta


finance-datareader
psycopg2-binary
sqlalchemy
pykrx

bs4
pandas-gbq
google-cloud-bigquery
google-cloud-storage


gcsfs
s3fs
git+https://github.com/streamlit/files-connection


